.container {
    display: flex;
    flex-direction: column;
    margin: 100px;
    position: relative;
    min-height: 500px;
}

.button-container {
    position: absolute;
    bottom: 0;
    right: 0;
  }

mat-form-field {
    width: 100%;
}